*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.7s;
}

.list{
   width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}
ul{

    li{
        border: 1px solid black;
        padding: 10px;
        margin-top: 10px;
    }
   
  
}

.green{
    background-color: rgba(126, 252, 0, 0.643);
    
}